<div class="container">
    <div class="card" style="margin-bottom:10px">
      <div class="card-body text-center">
        <h5 class="card-title">{{ productDetail.name }}</h5>
        <p class="card-text">{{ productDetail.age }}</p>
        <p class="card-text">{{ productDetail.position }}</p>
        <p class="card-text">{{ productDetail.departmentId }}</p>
        <p class="card-text">{{ productDetail.organizationId }}</p>        
     <!--    <button
          (click)="deleteProduct(productDetail.prod_id)"
          class="btn btn-primary"
          style="margin: 10px 10px;"
        >
          Delete
        </button> -->
      </div>
    </div>
  </div>
